*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    height: 40px;
    width: 164px;
    background-color:#469165 ;
    border-radius: 5px;
    border: none;
    color:#FFFFFF ;
    margin-bottom: 14px;
}
body{
  font-family: "Poppins", sans-serif;   
}
/* nav section design */

header{
    font-family: "Poppins", sans-serif; 
}

nav{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding-top: 20px;  
     /* background-color: burlywood;  */
}
ul{
    display: flex;
    gap: 24px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:#000000 ;
}
/* Banner container here */

#banner_container{
    background-image: url("../assets/hero-bg.png");
    height: 575px;
    background-size: cover;
    font-family: "Poppins", sans-serif; 
}
.banner_item{
    /* background-color: blanchedalmond; */
    padding:100px 120px 134px 120px;
    margin: 0 auto;
}
.banner_text{
    text-align: center;
}
.banner_text h3{
    background-color: #FFFFFF;
    height:32px ;
    width: 250px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 20px;
    color: #469165;
    font-size: 15px;
    font-weight: 500;
}
.banner_text .banner_heading{
    color: #FFFFFF;
    margin-top: 9px;
    font-size: 60px;
    font-weight: 600;
}
.banner_item .banner_spam{
    color:#30B868 ;
    font-size: 63px;
    font-weight: 600;
}
.banner_item .banner_peragraph{
    color: #FFFFFF;
    font-size: 15px;
}
.banner_btn{
    margin-top: 40px;
    display: inline-flex;
    margin-left: 350px;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    font-weight: 800px;
} 
.banner_btn .btn1{
    width: 224px;
    font-family: "Poppins", sans-serif; 
}
.banner_btn .btn2{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    
}
/* Notes section here */

#note_container{
    padding:50px 120px 120px;
}
.note_item{
    text-align: center;
}
.note_text h1{
    font-size: 45px;
    font-weight: bold;
    color:#001931;
    text-transform: capitalize;
}
.note_text p{
    color: #627382;
    font-size: 14px;
    font-weight:400 ;
}
.note_icons{
    width: 270px;
    height: 285px;
    padding:15px;
    box-shadow: 2px 4px 8px rgba(51, 48, 48, 0.144);
}
.note_icons img{
    height: 50px;
    width: 50px;
    background-color:#F95555;
    border-radius: 50%;
    padding: 10px;
}
.notes_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; 
    margin-top: 100px;
    
    

}
.note_icons p{
    font-size: 14px;
    width: 242px;
    height: 44px;
    text-align: center;
}
/* Brain section here */
.brain_container{
    display: flex;
    padding: 0 140px 0;
    
}
.brain_img img{
    height: 600px;
    width: 600px;
    background-size: cover;
    padding: 30px;
}
.brain_text{
    padding: 30px;
    margin-top: 80px;
}
.brain_text h4{
    color: #469165;
    font-size: 15px;
    font-weight:500 ;
}
.brain_text h1{
    font-size: 38px;
    font-weight:700 ;
    text-transform: capitalize;

}
.brain_text p{
    font-size: 14px;
    font-weight:400 ;
    color: #627382;
    margin-top: 10px;
}
.brain_chackmark{
    margin-top: 30px;
}
.chackmark_text{
    display: flex;
    gap: 5px;
    line-height: 25px;
}
.brain_chackmark img{
    height: 20px;
    width: 20px;
    background-size: cover;
    margin-top: 13px;
}
.brain_chackmark p{
    font-size: 14px;
    font-weight: 600;
    color: #001931;
}
#thinking_section{
    padding: 0 120px 120px;
    margin-top: 50px;
}
.thinking_container{
    padding: 26px;
    height: 374px;
   text-align: center;
   background-color: beige;
}
.thinking_container h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-top: 30px;
}
.thinking_container p{
    font-size: 15px;
    font-weight: 700;
    color: #627382;
    margin-top: 24px;
}
.thinking_container .btn3{
   text-align: center;
     border-radius: 5px;
} 
.arro_img{
    margin-top: 25px;
    background-color:#469165;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.arro_img .btn3{
    height: 40px;
    width: 120px;
    background-color: #469165;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 5px;
    
    
}

.arro_img img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#469165;
    background-size: cover;
    padding: 4px;
    margin-right: 5px;
  
} 
.thinking_container p{
    color: #627382;
    font-size: 15px;
    font-weight: 400;
}
#footer_section{
    background-color:#001931;
    padding: 120px 120px 30px;
}
.footer_container{
   
    
}
.footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.social_icon {

}
.social_icon i {
    background-color: #FFFFFF;
    padding: 3px;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 7px;
}
.social_text h4{
    color: #FFFFFF;
    font-size: 18px;
    
}
.secnav{
    margin-top: 40px;
    
}
hr{
    height: 2px;
    background-color:#469165;
    border: none;
}
.footer_p{
    margin-top: 20px;
    color: #FAFAFA;
    text-align: center;
    font-size: 14px;
    color: #469165;
}