*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    height: 40px;
    width: 164px;
    background-color:#469165 ;
    border-radius: 5px;
    border: none;
    color:#FFFFFF ;
    margin-bottom: 14px;
}
body{
  font-family: "Poppins", sans-serif;   
}
/* nav section design */
header{
    font-family: "Poppins", sans-serif; 
}

nav{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding-top: 20px;  
     /* background-color: burlywood;  */
}
ul{
    display: flex;
    gap: 24px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:#000000 ;
}
/* Banner container here */

#banner_container{
    background-image: url("../assets/hero-bg.png");
    height: 575px;
    background-size: cover;
    font-family: "Poppins", sans-serif; 
}
.banner_item{
    /* background-color: blanchedalmond; */
    padding:100px 120px 134px 120px;
    margin: 0 auto;
}
.banner_text{
    text-align: center;
}
.banner_text h3{
    background-color: #FFFFFF;
    height:32px ;
    width: 250px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 20px;
    color: #469165;
    font-size: 15px;
    font-weight: 500;
}
.banner_text .banner_heading{
    color: #FFFFFF;
    margin-top: 9px;
    font-size: 60px;
    font-weight: 600;
}
.banner_item .banner_spam{
    color:#30B868 ;
    font-size: 63px;
    font-weight: 600;
}
.banner_item .banner_peragraph{
    color: #FFFFFF;
    font-size: 15px;
}
.banner_btn{
    margin-top: 40px;
    display: inline-flex;
    margin-left: 350px;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    font-weight: 800px;
} 
.banner_btn .btn1{
    width: 224px;
    font-family: "Poppins", sans-serif; 
}
.banner_btn .btn2{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    
}
/* Notes section here */
#note_container{
    padding:50px 120px 120px;
}
.note_item{
    text-align: center;
}
.note_text h1{
    font-size: 45px;
    font-weight: bold;
    color:#001931;
    text-transform: capitalize;
}
.note_text p{
    color: #627382;
    font-size: 14px;
    font-weight:400 ;
}
.note_icons{
    width: 270px;
    height: 285px;
    padding:15px;
    box-shadow: 2px 4px 8px rgba(51, 48, 48, 0.144);
}
.note_icons img{
    height: 50px;
    width: 50px;
    background-color:#F95555;
    border-radius: 50%;
    padding: 10px;
}
.notes_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; 
    margin-top: 100px;
    
    

}
.note_icons p{
    font-size: 14px;
    width: 242px;
    height: 44px;
    
    text-align: center;
    
}
