*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
  
}
.btn{
    height: 40px;
    width: 164px;
    background-color:#469165 ;
    border-radius: 5px;
    border: none;
    color:#FFFFFF ;
    margin-bottom: 14px;
}
nav{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding-top: 20px;  
     /* background-color: burlywood;  */
}
ul{
    display: flex;
    gap: 24px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:#000000 ;
}